/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

/* Add Beer Form Styles */
.add-beer {
    margin-bottom: 40px;
}

.add-beer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-beer input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-beer button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-beer button:hover {
    background-color: #45a049;
}

/* Beer List Styles */
.beer-list ul {
    list-style-type: none;
    padding: 0;
}

.beer-list li {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.beer-info h3 {
    margin-top: 0;
}
/* Placeholder Image Styles */
.beer-placeholder {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-top: 10px;
}

/* Add Another Link Styles */
.add-another {
    display: block;
    margin-top: 20px;
    color: #4CAF50;
    text-decoration: none;
}

.add-another:hover {
    text-decoration: underline;
}